<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Compliance"
            id="ie.lero.compliance.ui">
      </category>
      <view
            category="ie.lero.compliance.ui"
            class="org.eclipse.ui.internal.views.markers.ProblemsView"
            id="ie.lero.compliance.ui.explanationsView"
            name="Explanations"
            restorable="true">
      </view>
      <view
            category="ie.lero.compliance.ui"
            class="ie.lero.compliance.ui.views.EnvironmentView"
            id="ie.lero.compliance.ui.enviromentView"
            name="Environment"
            restorable="true">
      </view>
      <view
            category="ie.lero.compliance.ui"
            class="ie.lero.compliance.ui.views.ComplianceExplorerView"
            id="ie.lero.compliance.ui.complianceExplorerView"
            name="Compliance Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ie.lero.compliance.ui.perspectives.CompliancePerspective">
         <view
               id="ie.lero.compliance.ui.explanationsView"
               ratio="0.5"
               relationship="stack"
               relative="ie.lero.compliance.ui.complianceExplorerView"
               visible="true">
         </view>
         <view
               id="ie.lero.compliance.ui.complianceExplorerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               id="ie.lero.compliance.ui.enviromentView"
               minimized="false"
               relationship="stack"
               relative="ie.lero.compliance.ui.explanationsView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ie.lero.compliance.ui.perspectives.CompliancePerspective"
            icon="icons/releng_gears.gif"
            id="ie.lero.compliance.ui.perspectives.CompliancePerspective"
            name="Compliance">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ie.lero.compliance.ui.commands.compliance"
            name="Compliance Category">
      </category>
      <command
            categoryId="ie.lero.compliance.ui.commands.compliance"
            defaultHandler="ie.lero.compliance.ui.handlers.ComplianceCheckingHandler"
            id="ie.lero.compliance.ui.commands.complianceChecking"
            name="Compliance checking">
      </command>
      <command
            categoryId="ie.lero.compliance.ui.commands.compliance"
            defaultHandler="ie.lero.compliance.ui.handlers.ComplianceExplanationsHandler"
            id="ie.lero.compliance.ui.commands.complianceExplanations"
            name="Non-compliance explanations">
      </command>
      <command
            categoryId="ie.lero.compliance.ui.commands.compliance"
            defaultHandler="ie.lero.compliance.ui.handlers.ControlDerivationHandler"
            id="ie.lero.compliance.ui.commands.controlsDerivation"
            name="Compliance controls derivation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ie.lero.compliance.ui.handlers.ComplianceCheckingHandler"
            commandId="ie.lero.compliance.ui.commands.complianceChecking">
      </handler>
      <handler
            class="ie.lero.compliance.ui.handlers.ComplianceExplanationsHandler"
            commandId="ie.lero.compliance.ui.commands.complianceExplanations">
      </handler>
      <handler
            class="ie.lero.compliance.ui.handlers.ControlDerivationHandler"
            commandId="ie.lero.compliance.ui.commands.controlsDerivation">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ie.lero.compliance.ui.commands.complianceChecking"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ie.lero.compliance.ui.menus.complianceMenu"
               label="Compliance"
               mnemonic="M">
            <command
                  commandId="ie.lero.compliance.ui.commands.complianceChecking"
                  icon="icons/checking.gif"
                  id="ie.lero.compliance.ui.menus.complianceChecking"
                  mnemonic="S">
            </command>
            <command
                  commandId="ie.lero.compliance.ui.commands.complianceExplanations"
                  icon="icons/icon_light_bulb.gif"
                  id="ie.lero.compliance.ui.menus.complianceExplanations"
                  mnemonic="T">
            </command>
            <command
                  commandId="ie.lero.compliance.ui.commands.controlsDerivation"
                  icon="icons/process.gif"
                  id="ie.lero.compliance.ui.menus.controlsDerivation"
                  mnemonic="U">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ie.lero.compliance.ui.toolbars.sampleToolbar"
               label="Compliance toolbar">
            <command
                  commandId="ie.lero.compliance.ui.commands.complianceChecking"
                  icon="icons/checking.gif"
                  id="ie.lero.compliance.ui.toolbars.complianceChecking"
                  tooltip="Check compliance">
            </command>
            <command
                  commandId="ie.lero.compliance.ui.commands.complianceExplanations"
                  icon="icons/icon_light_bulb.gif"
                  id="ie.lero.compliance.ui.toolbars.complianceExplanations"
                  tooltip="Explain compliance violations">
            </command>
            <command
                  commandId="ie.lero.compliance.ui.commands.controlsDerivation"
                  icon="icons/process.gif"
                  id="ie.lero.compliance.ui.toolbars.controlsDerivation"
                  tooltip="Derive compliance controls">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ie.lero.compliance.ui.editors.ComplianceEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/sample.gif"
            id="ie.lero.compliance.ui.editors.ComplianceEditor"
            name="Compliance Editor">
      </editor>
   </extension>
   <extension
         id="ie.lero.compliance.builder"
         name="Compliance Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="ie.lero.compliance.project.ComplianceBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="ie.lero.compliance.nature"
         name="Compliance nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ie.lero.compliance.project.ComplianceNature">
         </run>
      </runtime>
      <builder
            id="ie.lero.compliance.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/icon-compliance1.png"
            id="ie.lero.compliance.ui.compliance"
            natureId="ie.lero.compliance.nature">
      </image>
   </extension>
   <extension
         id="ie.lero.wizards.compliance"
         name="Compliance New Wizard"
         point="org.eclipse.ui.newWizards">
      <category
            id="ie.lero.category.compliance"
            name="Compliance">
      </category>
      <wizard
            category="ie.lero.category.compliance"
            class="ie.lero.compliance.project.wizard.NewProjectBasedComplianceWizard"
            descriptionImage="icons/icon-compliance1.png"
            finalPerspective="ie.lero.compliance.ui.perspectives.CompliancePerspective"
            icon="icons/releng_gears.gif"
            id="org.eclipse.ui.wizards.new.compliance"
            name="Compliance Project"
            project="true">
      </wizard>
   </extension>

</plugin>
