<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Compiance"
            id="ie.lero.compliance.ui">
      </category>
      <view
            category="ie.lero.compliance.ui"
            class="ie.lero.compliance.ui.views.ExplanationsView"
            icon="icons/sample.gif"
            id="ie.lero.compliance.ui.explanationsView"
            name="Explanations"
            restorable="true">
      </view>
      <view
            category="ie.lero.compliance.ui"
            class="ie.lero.compliance.ui.views.EnvironmentView"
            id="ie.lero.compliance.ui.enviromentView"
            name="Environment"
            restorable="true">
      </view>
      <view
            category="ie.lero.compliance.ui"
            class="ie.lero.compliance.ui.views.ComplianceExplorerView"
            id="ie.lero.compliance.ui.complianceExplorerView"
            name="Compliance Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ie.lero.compliance.ui.perspectives.CompliancePerspective">
         <view
               id="ie.lero.compliance.ui.explanationsView"
               ratio="0.5"
               relationship="stack"
               relative="ie.lero.compliance.ui.complianceExplorerView"
               visible="true">
         </view>
         <view
               id="ie.lero.compliance.ui.complianceExplorerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               id="ie.lero.compliance.ui.enviromentView"
               minimized="false"
               relationship="stack"
               relative="ie.lero.compliance.ui.explanationsView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ie.lero.compliance.ui.perspectives.CompliancePerspective"
            icon="icons/releng_gears.gif"
            id="ie.lero.compliance.ui.perspectives.CompliancePerspective"
            name="Compliance">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ie.lero.compliance.ui.commands.compliance"
            name="Compliance Category">
      </category>
      <command
            categoryId="ie.lero.compliance.ui.commands.compliance"
            defaultHandler="ie.lero.compliance.ui.handlers.ComplianceCheckingHandler"
            id="ie.lero.compliance.ui.commands.complianceChecking"
            name="Compliance checking">
      </command>
      <command
            categoryId="ie.lero.compliance.ui.commands.compliance"
            defaultHandler="ie.lero.compliance.ui.handlers.ComplianceExplanationsHandler"
            id="ie.lero.compliance.ui.commands.complianceExplanations"
            name="Non-compliance explanations">
      </command>
      <command
            categoryId="ie.lero.compliance.ui.commands.compliance"
            defaultHandler="ie.lero.compliance.ui.handlers.ControlDerivationHandler"
            id="ie.lero.compliance.ui.commands.controlsDerivation"
            name="Compliance controls derivation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ie.lero.compliance.ui.handlers.ComplianceCheckingHandler"
            commandId="ie.lero.compliance.ui.commands.complianceChecking">
      </handler>
      <handler
            class="ie.lero.compliance.ui.handlers.ComplianceExplanationsHandler"
            commandId="ie.lero.compliance.ui.commands.complianceExplanations">
      </handler>
      <handler
            class="ie.lero.compliance.ui.handlers.ControlDerivationHandler"
            commandId="ie.lero.compliance.ui.commands.controlsDerivation">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ie.lero.compliance.ui.commands.complianceChecking"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ie.lero.compliance.ui.menus.complianceMenu"
               label="Compliance Menu"
               mnemonic="M">
            <command
                  commandId="ie.lero.compliance.ui.commands.complianceChecking"
                  id="ie.lero.compliance.ui.menus.complianceChecking"
                  mnemonic="S">
            </command>
            <command
                  commandId="ie.lero.compliance.ui.commands.complianceExplanations"
                  id="ie.lero.compliance.ui.menus.complianceExplanations"
                  mnemonic="T">
            </command>
            <command
                  commandId="ie.lero.compliance.ui.commands.controlsDerivation"
                  id="ie.lero.compliance.ui.menus.controlsDerivation"
                  mnemonic="U">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ie.lero.compliance.ui.toolbars.sampleToolbar"
               label="Compliance toolbar">
            <command
                  commandId="ie.lero.compliance.ui.commands.complianceChecking"
                  icon="icons/sample.gif"
                  id="ie.lero.compliance.ui.toolbars.complianceChecking"
                  tooltip="Say hello world">
            </command>
            <command
                  commandId="ie.lero.compliance.ui.commands.complianceExplanations"
                  icon="icons/sample.gif"
                  id="ie.lero.compliance.ui.toolbars.complianceExplanations"
                  tooltip="Say hello world">
            </command>
            <command
                  commandId="ie.lero.compliance.ui.commands.controlsDerivation"
                  icon="icons/sample.gif"
                  id="ie.lero.compliance.ui.toolbars.controlsDerivation"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
